<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="urlfilter-regex"
   name="Regex URL Filter"
   version="1.0.0"
   provider-name="nutch.org">

   <extension-point
      id="org.apache.nutch.net.URLFilter"
      name="Nutch URL Filter"/>

   <runtime>
      <library name="urlfilter-regex.jar">
         <export name="*"/>
      </library>
   </runtime>

   <extension id="org.apache.nutch.net.urlfiler"
              name="Nutch Regex URL Filter"
              point="org.apache.nutch.net.URLFilter">
      <implementation id="RegexURLFilter"
                      class="org.apache.nutch.net.RegexURLFilter"/>
      <!-- by default, attribute "file" is undefined, to keep classic behavior.
      <implementation id="RegexURLFilter"
                      class="org.apache.nutch.net.RegexURLFilter"
                      file="urlfilter-regex.txt"/>
      -->
   </extension>

</plugin>
