<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="urlfilter-regex"
   name="Regex URL Filter"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="urlfilter-regex.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
      <import plugin="lib-regex-filter"/>
   </requires>

   <extension id="org.apache.nutch.net.urlfilter"
              name="Nutch Regex URL Filter"
              point="org.apache.nutch.net.URLFilter">
      <implementation id="RegexURLFilter"
                      class="org.apache.nutch.urlfilter.regex.RegexURLFilter"/>
      <!-- by default, attribute "file" is undefined, to keep classic behavior.
      <implementation id="RegexURLFilter"
                      class="org.apache.nutch.net.RegexURLFilter">
        <parameter name="file" value="urlfilter-regex.txt"/>
      </implementation>
      -->
   </extension>

</plugin>
