<?xml version="1.0" encoding="UTF-8"?>

<plugin
   version="1.0.0"
   provider-name="nutch.org"
   id="parse-mp3"
   name="MP3 Parse Plug-in">

   <runtime>
      <library name="parse-mp3.jar">
         <export name="*"/>
      </library>
      <library name="jid3lib-0.5.1.jar"/>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension point="org.apache.nutch.parse.Parser"
              id="org.apache.nutch.parse.mp3"
              name="MP3Parse">

      <implementation class="org.apache.nutch.parse.mp3.MP3Parser"
                      id="org.apache.nutch.parse.mp3.MP3Parser">
        <parameter name="pathSuffix"  value="mp3"/>
        <parameter name="contentType" value="audio/mpeg"/>
      </implementation>
   </extension>

</plugin>
