<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="urlfilter-automaton"
   name="Automaton URL Filter"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="urlfilter-automaton.jar">
         <export name="*"/>
      </library>
      <library name="automaton.jar"/>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
      <import plugin="lib-regex-filter"/>
   </requires>

   <extension id="org.apache.nutch.net.urlfilter.automaton"
              name="Nutch Automaton URL Filter"
              point="org.apache.nutch.net.URLFilter">
      <implementation id="AutomatonURLFilter"
                      class="org.apache.nutch.urlfilter.automaton.AutomatonURLFilter"/>
   </extension>

</plugin>
