<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="subcollection"
   name="Subcollection indexing and query filter"
   version="1.0.0"
   provider-name="apache.org">

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <runtime>
      <library name="subcollection.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <extension id="org.apache.nutch.searcher.subcollection.query"
              name="Subcollection Query Filter"
              point="org.apache.nutch.searcher.QueryFilter">
    <implementation id="SubcollectionQueryFilter"
               class="org.apache.nutch.searcher.subcollection.SubcollectionQueryFilter">
         <parameter name="raw-fields" value="subcollection"/>
         </implementation>
               
   </extension>      

   <extension id="org.apache.nutch.indexer.subcollection.indexing"
              name="Subcollection Indexing Filter"
              point="org.apache.nutch.indexer.IndexingFilter">
      <implementation id="SubcollectionIndexingFilter"
                      class="org.apache.nutch.indexer.subcollection.SubcollectionIndexingFilter"/>
                      
   </extension>
</plugin>
