<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="parse-rss"
   name="RSS Parse Plug-in"
   version="1.0.0"
   provider-name="edu.usc.cs.cs599">


   <runtime>
      <library name="parse-rss.jar">
         <export name="*"/>
      </library>
      <library name="commons-feedparser-0.6-fork.jar"/>
      <library name="xml-rpc-1.2.jar"/>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
      <import plugin="lib-xml"/>
      <import plugin="lib-log4j"/>
   </requires>

   <extension id="org.apache.nutch.parse.rss"
              name="RssParse"
              point="org.apache.nutch.parse.Parser">

      <implementation id="org.apache.nutch.parse.rss.RSSParser"
                      class="org.apache.nutch.parse.rss.RSSParser">
        <parameter name="contentType" value="application/rss+xml"/>
        <parameter name="pathSuffix"  value="rss"/>
      </implementation>
   </extension>

</plugin>
