conf/*.txt
conf/*.xml
!conf/nutch-default.xml
conf/hadoop-env.sh
conf/slaves
build/
runtime/
logs/
/bin/
ivy/ivy-2.3.0.jar
ivy/ivy-2.4.0.jar
ivy/ivy-2.5.0-rc1.jar
naivebayes-model
.naivebayes-model.crc
.gitconfig
# Eclipse configuration files
.classpath
.project
.settings/
.externalToolBuilders/
# IntelliJ IDEA configuration files
.idea/
*.iml
*.swp
