<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="query-more"
   name="More Query Filter"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="query-more.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.searcher.more"
              name="Nutch More Query Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="TypeQueryFilter"
                      class="org.apache.nutch.searcher.more.TypeQueryFilter">
        <parameter name="raw-fields" value="type"/>
      </implementation>
      
   </extension>

   <extension id="org.apache.nutch.searcher.more"
              name="Nutch More Query Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="DateQueryFilter"
                      class="org.apache.nutch.searcher.more.DateQueryFilter">
        <parameter name="raw-fields" value="date"/>
      </implementation>
      
   </extension>

</plugin>
