<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="urlnormalizer-regex"
   name="Regex URL Normalizer"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="urlnormalizer-regex.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.net.urlnormalizer.regex"
              name="Nutch Regex URL Normalizer"
              point="org.apache.nutch.net.URLNormalizer">
      <implementation id="RegexURLNormalizer"
                      class="org.apache.nutch.net.urlnormalizer.regex.RegexURLNormalizer"/>
   </extension>

</plugin>
