<?xml version="1.0" encoding="UTF-8"?>

<!--
 ! Jakarta Commons HTTP Client
 ! (http://jakarta.apache.org/commons/httpclient/)
 ! 
 ! Dowload : http://jakarta.apache.org/commons/httpclient/downloads.html
 ! License : http://jakarta.apache.org/commons/license.html
 !-->
<plugin
   id="lib-commons-httpclient"
   name="Jakarta Commons HTTP Client"
   version="3.0"
   provider-name="jakarta.apache.org">

   <runtime>
     <library name="commons-httpclient-3.0.jar">
        <export name="*"/>
     </library>
   </runtime>

</plugin>
