<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="clustering-carrot2"
   name="Online Search Results Clustering using Carrot2's Lingo component"
   version="0.9.0"
   provider-name="carrot2.sourceforge.net">

   <runtime>
      <library name="clustering-carrot2.jar">
         <export name="*"/>
      </library>

      <library name="carrot2-filter-lingo.jar"/>
      <library name="carrot2-local-core.jar"/>
      <library name="carrot2-snowball-stemmers.jar"/>
      <library name="carrot2-stemmer-lametyzator.jar"/>
      <library name="carrot2-util-common.jar"/>
      <library name="carrot2-util-tokenizer.jar"/>

      <library name="colt-1.0.3.jar"/>
      <library name="commons-collections-3.0.jar"/>
      <library name="commons-pool-1.1.jar"/>
      <library name="FSA.jar"/>
      <library name="Jama-1.0.1-patched.jar"/>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
      <import plugin="lib-log4j"/>
      <import plugin="lib-nekohtml"/>
   </requires>

   <extension id="org.apache.nutch.clustering.carrot2"
              name="Carrot2 Clusterer"
              point="org.apache.nutch.clustering.OnlineClusterer">

      <implementation id="Carrot2-Lingo"
                      class="org.apache.nutch.clustering.carrot2.Clusterer"/>

   </extension>
</plugin>
