<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="clustering-carrot2"
   name="Online Search Results Clustering using Carrot2's Lingo component"
   version="1.0.2"
   provider-name="carrot2.sourceforge.net">

   <runtime>
      <library name="clustering-carrot2.jar">
         <export name="*"/>
      </library>

      <library name="carrot2-filter-lingo.jar"/>
      <library name="carrot2-local-core.jar"/>
      <library name="carrot2-snowball-stemmers.jar"/>
      <library name="carrot2-util-common.jar"/>
      <library name="carrot2-util-tokenizer.jar"/>

      <library name="commons-collections-3.1-patched.jar"/>
      <library name="commons-pool-1.1.jar"/>
      <library name="Jama-1.0.1-patched.jar"/>
      <library name="violinstrings-1.0.2.jar"/>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
      <import plugin="lib-log4j"/>
   </requires>

   <extension id="org.apache.nutch.clustering.carrot2"
              name="Carrot2 Clusterer"
              point="org.apache.nutch.clustering.OnlineClusterer">

      <implementation id="Carrot2-Lingo"
                      class="org.apache.nutch.clustering.carrot2.Clusterer"/>
   </extension>
</plugin>
