<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="urlfilter-prefix"
   name="Prefix URL Filter"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="urlfilter-prefix.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.net.urlfiler"
              name="Nutch Prefix URL Filter"
              point="org.apache.nutch.net.URLFilter">
      <implementation id="PrefixURLFilter"
                      class="org.apache.nutch.net.PrefixURLFilter"/>
      <!-- by default, attribute "file" is undefined, to keep classic behavior.
      <implementation id="PrefixURLFilter"
                      class="org.apache.nutch.net.PrefixURLFilter"
                      file="urlfilter-prefix.txt"/>
      -->
   </extension>

</plugin>
