<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="parse-js"
   name="JavaScript Parser"
   version="1.0.0"
   provider-name="nutch.org">

   <extension-point
      id="org.apache.nutch.parse.HtmlParseFilter"
      name="HTML Parse Filter"/>

   <runtime>
      <library name="parse-js.jar">
         <export name="*"/>
      </library>
   </runtime>

   <extension id="org.apache.nutch.parse.js.JSParseFilter"
              name="Parse JS Filter"
              point="org.apache.nutch.parse.HtmlParseFilter">
      <implementation id="JSParseFilter"
	      class="org.apache.nutch.parse.js.JSParseFilter"
	      contentType="application/x-javascript"
	      pathSuffix=""/>
   </extension>

</plugin>
