<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="parse-swf"
   name="SWF Parse Plug-in"
   version="1.0.0"
   provider-name="nutch.org">


   <runtime>
      <library name="parse-swf.jar">
         <export name="*"/>
      </library>
      <library name="javaswf.jar"/>
   </runtime>

   <extension id="org.apache.nutch.parse.swf"
              name="SWFParse"
              point="org.apache.nutch.parse.Parser">

      <implementation id="org.apache.nutch.parse.swf.SWFParser"
                      class="org.apache.nutch.parse.swf.SWFParser">
        <parameter name="contentType" value="application/x-shockwave-flash"/>
        <parameter name="pathSuffix"  value="swf"/>
      </implementation>
      
   </extension>

</plugin>
