<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="index-more"
   name="More Indexing Filter"
   version="1.0.0"
   provider-name="nutch.org">


   <runtime>
      <library name="index-more.jar">
         <export name="*"/>
      </library>
   </runtime>

   <extension id="org.apache.nutch.indexer.more"
              name="Nutch More Indexing Filter"
              point="org.apache.nutch.indexer.IndexingFilter">
      <implementation id="MoreIndexingFilter"
                      class="org.apache.nutch.indexer.more.MoreIndexingFilter"/>
   </extension>

   <!--
   <extension id="org.apache.nutch.searcher.more.MoreQueryFilter"
              name="Nutch More Query Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="MoreQueryFilter"
                      class="org.apache.nutch.searcher.more.MoreQueryFilter"
                      raw-fields="more"/>
   </extension>
   -->

</plugin>
