.menuTd {
  background-color: #F9F7F4;
  height: 25;
  onMouseOver: this .   style .   backgroundColor =   '#ECE5DC';
}

.menuTdhover {
  background-color: #ECE5DC;
  height: 25;
  onMouseOver: this .   style .   backgroundColor =   '#ECE5DC';
}

.menuEntry {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  text-decoration: none
}

.body {
  background-color: #F9F7F4;
}

.bodytext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  text-decoration: none
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: #FF9900;
  text-decoration: none
}

.intro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #FF9900;
  text-decoration: none
}

.orangeTd {
  background-color: #FF9900
}

ul {
  list-style-image: url(../img/reiter/ul.gif)
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
}

.url {
  color: #996600;
}

.highlight {
  font-weight: bold;
}

.ellipsis {
  font-weight: bold;
}