<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="urlnormalizer-pass"
   name="Pass-through URL Normalizer"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="urlnormalizer-pass.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.net.urlnormalizer.pass"
              name="Nutch Pass-through URL Normalizer"
              point="org.apache.nutch.net.URLNormalizer">
      <implementation id="PassURLNormalizer"
                      class="org.apache.nutch.net.urlnormalizer.pass.PassURLNormalizer"/>
   </extension>

</plugin>
