<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="parse-zip"
   name="Zip Parse Plug-in"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="parse-zip.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.parse.zip"
              name="ZipParser" 
              point="org.apache.nutch.parse.Parser">

      <implementation id="org.apache.nutch.parse.zip.ZipParser" 
                      class="org.apache.nutch.parse.zip.ZipParser">
        <parameter name="contentType" value="application/zip"/>
        <parameter name="pathSuffix"  value="zip"/>
      </implementation>
      
   </extension>

</plugin>
