<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="parse-html"
   name="Html Parse Plug-in"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="parse-html.jar">
         <export name="*"/>
      </library>
      <library name="tagsoup-1.0rc3.jar"/>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
      <import plugin="lib-nekohtml"/>
   </requires>

   <extension id="org.apache.nutch.parse.html"
              name="HtmlParse"
              point="org.apache.nutch.parse.Parser">

      <implementation id="org.apache.nutch.parse.html.HtmlParser"
                      class="org.apache.nutch.parse.html.HtmlParser">
        <parameter name="contentType" value="text/html"/>
        <parameter name="pathSuffix" value=""/>
      </implementation>

   </extension>

</plugin>
