<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="microformats-reltag"
   name="Rel-Tag microformat Parser/Indexer/Querier"
   version="1.0.0"
   provider-name="nutch.org">

    <runtime>
      <library name="microformats-reltag.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.microformats.reltag.RelTagParser"
              name="Rel-Tag parser"
              point="org.apache.nutch.parse.HtmlParseFilter">
      <implementation id="RelTagParser"
                      class="org.apache.nutch.microformats.reltag.RelTagParser"/>
   </extension>

   <extension id="org.apache.nutch.microformats.reltag.RelTagIndexingFilter"
              name="Rel-Tag indexing filter"
              point="org.apache.nutch.indexer.IndexingFilter">
      <implementation id="RelTagIndexingFilter"
                      class="org.apache.nutch.microformats.reltag.RelTagIndexingFilter"/>
   </extension>


   <extension id="org.apache.nutch.microformats.reltag.RelTagQueryFilter"
              name="Rel-Tag query filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="RelTagQueryFilter"
                      class="org.apache.nutch.microformats.reltag.RelTagQueryFilter"
                      raw-fields="tag"/>
   </extension>


</plugin>

