<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="urlnormalizer-basic"
   name="Basic URL Normalizer"
   version="1.0.0"
   provider-name="nutch.org">

   <runtime>
      <library name="urlnormalizer-basic.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="org.apache.nutch.net.urlnormalizer.basic"
              name="Nutch Basic URL Normalizer"
              point="org.apache.nutch.net.URLNormalizer">
      <implementation id="BasicURLNormalizer"
                      class="org.apache.nutch.net.urlnormalizer.basic.BasicURLNormalizer"/>
   </extension>

</plugin>
