<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<plugin
   id="nutch-extensionpoints"
   name="the nutch core extension points"
   version="0.8.0"
   provider-name="nutch.org">

   <!-- this file hosts all extension points nutch core code offers. 
   Please not that plugins can define extension points as well to be extendable.-->

<extension-point
      id="org.apache.nutch.clustering.OnlineClusterer"
      name="Nutch Online Search Results Clustering Plugin"/>

<extension-point
      id="org.apache.nutch.indexer.field.FieldFilter"
      name="Nutch Field Filter"/>
      
<extension-point
      id="org.apache.nutch.indexer.IndexingFilter"
      name="Nutch Indexing Filter"/>

<extension-point
      id="org.apache.nutch.ontology.Ontology"
      name="Ontology Model Loader"/>

<extension-point
      id="org.apache.nutch.parse.Parser"
      name="Nutch Content Parser"/>
 
<extension-point
      id="org.apache.nutch.parse.HtmlParseFilter"
      name="HTML Parse Filter"/>

<extension-point
      id="org.apache.nutch.protocol.Protocol"
      name="Nutch Protocol"/>

<extension-point
      id="org.apache.nutch.searcher.QueryFilter"
      name="Nutch Query Filter"/>

<extension-point
      id="org.apache.nutch.net.URLFilter"
      name="Nutch URL Filter"/>

<extension-point
      id="org.apache.nutch.net.URLNormalizer"
      name="Nutch URL Normalizer"/>

<extension-point
      id="org.apache.nutch.analysis.NutchAnalyzer"
      name="Nutch Analysis"/>

<extension-point
      id="org.apache.nutch.searcher.response.ResponseWriter"
      name="Nutch Search Results Response Writer"/>
      
<extension-point
      id="org.apache.nutch.searcher.Summarizer"
      name="Nutch Summarizer"/>

<extension-point
      id="org.apache.nutch.scoring.ScoringFilter"
      name="Nutch Scoring"/>

</plugin>
