<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="parse-replace"
   name="ReplaceParser"
   version="1.0"
   provider-name="PeterCiuffetti">

   <runtime>
      <library name="parse-replace.jar">
         <export name="*"/>
      </library>
   </runtime>

   <extension id="org.apache.nutch.parse.replace.parser"
              name="Replace Parser"
              point="org.apache.nutch.parse.HtmlParseFilter">
      <implementation id="ReplaceParser"
                      class="org.apache.nutch.parse.replace.ReplaceParser"/>
   </extension>

</plugin>

