<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

<!-- order is very important here -->

<servlet>
  <servlet-name>Cached</servlet-name>
  <servlet-class>org.apache.nutch.servlet.Cached</servlet-class>
</servlet>

<servlet>
  <servlet-name>OpenSearch</servlet-name>
  <servlet-class>org.apache.nutch.searcher.OpenSearchServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>Cached</servlet-name>
  <url-pattern>/servlet/cached</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>OpenSearch</servlet-name>
  <url-pattern>/opensearch</url-pattern>
</servlet-mapping>

<welcome-file-list>
  <welcome-file>search.html</welcome-file>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.jsp</welcome-file>
</welcome-file-list>

<taglib>
  <taglib-uri>http://jakarta.apache.org/taglibs/i18n</taglib-uri>
  <taglib-location>/WEB-INF/taglibs-i18n.tld</taglib-location>
 </taglib>

</web-app>
