# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: master branch ci
on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [master]
jobs:
  javadoc:
    strategy:
      matrix:
        java: ['11']
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.5.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: Javadoc
        run: ant clean javadoc -buildfile build.xml
  rat:
    strategy:
      matrix:
        java: ['11']
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.5.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: Run Apache Rat
        run: ant clean run-rat -buildfile build.xml
      - name: Cache unknown licenses
        run: echo "UNKNOWN_LICENSES=$(sed -n 18p /home/runner/work/nutch/nutch/build/apache-rat-report.txt)" >> $GITHUB_ENV
      - name: Versions
        run: |
          echo $UNKNOWN_LICENSES
      - name: Fail if any unknown licenses
        if: ${{ env.UNKNOWN_LICENSES != '0 Unknown Licenses' }}
        run: exit 1
  tests:
    strategy:
      matrix:
        java: ['11']
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.5.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          filters: |
            core:
              - 'src/java/**'
              - 'src/test/**'
              - 'src/testresources/**'
            plugins:
              - 'src/plugin/**'
            buildconf:
              - 'build.xml'
              - 'ivy/ivy.xml'
      # run if the build configuration or both 'core' and 'plugins' files were changed
      - name: test all
        id: build
        if: ${{ steps.filter.outputs.buildconf == 'true' || ( steps.filter.outputs.core  == 'true' && steps.filter.outputs.plugins  == 'true' ) }}
        run: ant clean test -buildfile build.xml | tee build.log
        run: echo "BUILD_LOG=$(cat build.log)" >> $GITHUB_OUTPUT
      # run only if 'core' files were changed
      - name: test core
        id: build
        if: ${{ steps.filter.outputs.core == 'true' && steps.filter.outputs.plugins == 'false' && steps.filter.outputs.buildconf == 'false' }}
        run: ant clean test-core -buildfile build.xml | tee build.log
        run: echo "BUILD_LOG=$(cat build.log)" >> $GITHUB_OUTPUT
      # run only if 'plugins' files were changed
      - name: test plugins
        id: build
        if: ${{ steps.filter.outputs.plugins == 'true' && steps.filter.outputs.core == 'false' && steps.filter.outputs.buildconf == 'false' }}
        run: ant clean test-plugins -buildfile build.xml | tee build.log
        run: echo "BUILD_LOG=$(cat build.log)" >> $GITHUB_OUTPUT
  check-deprecations:
    runs-on: ubuntu-latest
    steps:
      - name: Detect deprecation warnings
        run: |
          if grep -iEq "warning: \[deprecation\]" ${{ steps.build.outputs.BUILD_LOG }} ; then
            echo "=========================================================="
            echo "= Java deprecation warnings detected! Failing the build. ="
            echo "==========================================================\n"
            grep -iE "warning: \[deprecation\]" -A 2 ${{ steps.build.outputs.BUILG_LOG }}
            exit 1
          else
            echo "No Java deprecation warnings found."
          fi
